* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header img {
    width: 50px;
}

header li {
    display: inline-block;
    list-style: none;
}

header a {
    padding: 10px;
    color: black;
}

.container {
    max-width: 1024px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

main {
    background: url('banana.jpg');
    background-size: cover;
    padding: 20px;
}

main h1 {
    margin: 20px 0;
}

main img {
    max-width: 450px;
    float: left;
    margin: 0 10px 20px 0;
}

main p {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px;
}

input, textarea {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    width: 98%;
}

input[type="submit"] {
    width: 50%;
    color: white;
    background: green;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    margin-top: 60px;
}

th, td {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 5px;
}

td:first-of-type {
    color: green;
    font-weight: bold;
}

span {
    color:green;
}


